@import url(./fonts.css);
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 12px;
}

body {
  font-family: 'Proxima Nova Rg';
}

body a {
  text-decoration: none;
  color: #1c1c1c;
}

body ul {
  list-style: none;
}

body section {
  padding: 2rem 0;
}

body .li_focus {
  border-radius: 5px;
  color: #e50000;
  border: 2px solid #e42626 !important;
}

body .header-phone a {
  font-family: 'Proxima Nova Bd';
  font-size: 1.6rem;
}

body .section-title {
  font-size: 2.4rem;
  margin-bottom: 3rem;
  font-family: 'Proxima Nova Bd';
}

body .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}

body .button {
  min-width: 14rem;
  min-height: 3rem;
  background-color: #c91111;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-weight: 700;
  font-size: 1.2rem;
  cursor: pointer;
}

body .reviews-title {
  border: 1px solid #f5f5f5;
  font-family: 'Muller Bold';
  margin-right: 2.6rem;
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.7px;
  padding: 1rem 2.5rem;
  cursor: pointer;
}

body .reviews-title:hover {
  color: #e50000;
}

body .header {
  padding: 1rem 0;
  border-bottom: 1px solid #e8e8e8;
  color: #1c1c1c;
}

body .header .container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .header .container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .header .container ul .nav__item {
  margin-right: 3.4rem;
  font-size: 1.4rem;
}

body main .second-header {
  color: #1c1c1c;
  padding: 1rem 0;
}

body main .second-header .container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main .second-header .container .second-header__slogan {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
}

body main .second-header .container .second-header__slogan p {
  font-size: 1.4rem;
}

body main .second-header .container .app-download {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  min-width: 9rem;
}

body main .second-header .container .app-download__link {
  border: 1px solid #e42626;
  border-radius: 5px;
  padding: 7px;
}

body main .second-header .container .app-download__link svg {
  width: 30px;
  height: 30px;
}

body main .jurist {
  background: #1c1c1c url(../img/jurist_BG.png) no-repeat;
  padding: 10rem 0 12rem;
}

body main .jurist .container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-left: 10%;
}

body main .jurist-text {
  color: #fff;
  max-width: 51rem;
  margin-bottom: 3rem;
  text-align: left;
}

body main .jurist-text h2 {
  font-family: 'Proxima Nova Bd';
  font-size: 3.2rem;
  font-weight: 700;
}

body main .jurist-text h2 span {
  font-size: 4rem;
  text-transform: uppercase;
  font-family: 'Proxima Nova Extra Bold';
}

body main .jurist-text p {
  font-size: 2.4rem;
  font-family: 'Proxima Nova Lt';
}

body main .jurist-text p span {
  font-family: 'Proxima Nova Bd';
}

body main .jurist button {
  min-width: 30rem;
  min-height: 6rem;
  font-size: 1.8rem;
  font-family: 'Proxima Nova Rg';
}

body main .features {
  padding: 7rem 0;
  color: #1c1c1c;
}

body main .features .container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body main .features .container .feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 3rem;
}

body main .features .container .feature p {
  font-size: 1.6rem;
  margin-left: 2rem;
  width: 22rem;
}

body main .about {
  background: #1c1c1c url(../img/bg.png) no-repeat top;
  color: #fff;
  padding: 7rem 0;
}

body main .about .container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body main .about .container .section-title {
  margin-bottom: 5rem;
}

body main .about .container .section-description {
  max-width: 80%;
  margin: auto;
  margin-bottom: 6rem;
}

body main .about .container .section-description p {
  font-size: 1.6rem;
}

body main .about .container .section-achievements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body main .about .container .section-achievements .achievement {
  margin-right: 8rem;
}

body main .about .container .section-achievements .achievement span {
  font-size: 1.6rem;
}

body main .about .container .section-achievements .achievement span strong {
  font-family: 'Proxima Nova Bd';
  font-size: 4.5rem;
}

body main .description {
  padding: 10rem 0;
  color: #1c1c1c;
  background-color: #f5f5f5;
}

body main .description .container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body main .description .container .section-title {
  margin-bottom: 4rem;
}

body main .description .container .description__item {
  padding: 1rem 7rem;
}

body main .description .container .description__item .description__text {
  margin-top: 0.3rem;
  font-size: 1.6rem;
}

body main .advantages {
  color: #1c1c1c;
  padding: 10rem 0 8rem;
}

body main .advantages .container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: unset;
}

body main .advantages .container .section-title {
  text-align: center;
}

body main .advantages .container .advantages-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body main .advantages .container .advantages-description li {
  font-size: 1.3rem;
  margin-bottom: 3rem;
}

body main .advantages .container .advantages-description .comparing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

body main .advantages .container .advantages-description .comparing .advantages__list {
  text-align: right;
  padding: 3rem 1rem;
}

body main .advantages .container .advantages-description .comparing .advantages__list li:first-child {
  opacity: 0;
}

body main .advantages .container .advantages-description .comparing__advogrand {
  background-color: #26b83a;
  color: #fff;
  padding: 3rem 5rem;
}

body main .advantages .container .advantages-description .comparing__advogrand li:first-child {
  font-size: 1.5rem;
  font-family: 'Proxima Nova Bd';
}

body main .advantages .container .advantages-description .comparing__others {
  border: 1px solid #e8e8e8;
  padding: 3rem 5rem;
}

body main .advantages .container .advantages-description .comparing__others li:first-child {
  font-size: 1.5rem;
  font-family: 'Proxima Nova Bd';
}

body main .advantages .container .advantages-description .statistics-description {
  margin-left: 2rem;
}

body main .advantages .container .advantages-description .statistics-description .section-title {
  font-size: 1.6rem;
}

body main .advantages .container .advantages-description .statistics-description .statistics-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.6rem;
  padding-bottom: 1rem;
}

body main .advantages .container .advantages-description .statistics-description .statistics-list li strong {
  font-family: 'Proxima Nova Bd';
  margin-left: 2rem;
  margin-right: 0.5rem;
}

body main .advantages .container .advantages-description .statistics-button button {
  font-size: 1.6rem;
  font-weight: 700;
  min-width: 27rem;
  min-height: 5rem;
  font-family: 'Proxima Nova Bd';
}

body main .consulting {
  background: url(../img/consulting_bg.jpg) no-repeat top;
  color: #fff;
  font-family: 'Muller Regular';
  padding: 7rem 0 5rem;
}

body main .consulting .container {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: left;
}

body main .consulting .container .section-title {
  font-family: 'Muller Bold';
}

body main .consulting .container .consulting-description li {
  font-size: 1.8rem;
  font-family: 'Muller Light';
  letter-spacing: 1.2px;
  padding: 1rem 0;
}

body main .consulting .container .consulting-description li a {
  color: inherit;
  text-decoration: underline;
}

body main .consulting .container .consulting-description li span {
  margin-right: 1rem;
  color: #d82020;
  font-family: 'Muller Medium';
}

body main .consulting .container .consulting-download {
  margin-top: 3rem;
}

body main .consulting .container .consulting-download a {
  display: block;
  margin-bottom: 3rem;
}

body main .reviews {
  color: #313131;
  font-family: 'Muller Regular';
  background-color: #f5f5f5;
  padding: 4rem 0;
}

body main .reviews .change-opacity {
  opacity: 0;
}

body main .reviews .container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

body main .reviews .container .reviews-titles {
  margin: auto;
  margin-bottom: 2rem;
}

body main .reviews .container .reviews-titles ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body main .reviews .container .row {
  -webkit-transition: all ease-out 0.4s;
  transition: all ease-out 0.4s;
}

body main .reviews .container .review {
  margin: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main .reviews .container .review img {
  margin-bottom: 1rem;
}

body main .reviews .container .review a {
  color: #313131;
  font-family: 'Muller Light';
  font-size: 1.8rem;
}

body main .partners {
  padding: 5rem 0;
  color: #313131;
  font-family: 'Muller Regular';
}

body main .partners .container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body main .partners .container .section-title {
  font-family: 'Muller Bold';
}

body main .partners .container .partner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

body main .partners .container .partner-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #26b83a;
  min-height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-box-shadow: 0 10px 10px rgba(38, 184, 58, 0.2);
          box-shadow: 0 10px 10px rgba(38, 184, 58, 0.2);
  -webkit-transition: all ease-out 0.4s;
  transition: all ease-out 0.4s;
}

body main .partners .container .partner-description:hover {
  opacity: 1;
}

body main .partners .container .partner-description p {
  font-family: 'Muller Light';
  color: #fff;
  font-size: 1.2rem;
  padding: 1rem 0.5rem;
}

body main .rates {
  background-color: #f5f5f5;
  color: #313131;
  font-family: "Muller Regular";
  padding: 5rem 0;
}

body main .rates .container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
}

body main .rates .container .section-title {
  font-family: 'Muller Bold';
}

body main .rates .container .section-subtitle {
  font-size: 1.6rem;
  margin-bottom: 3rem;
  font-family: 'Muller Bold';
}

body main .rates .container .rates-choosing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main .rates .container .rates-choosing .rates-choose {
  font-size: 1.6rem;
}

body main .rates .container .rates-choosing .rates-choices {
  font-family: 'Muller Bold';
  font-size: 1.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-preferred-size: 21%;
      flex-basis: 21%;
  text-transform: uppercase;
  border: 1px solid #f5f5f5;
  letter-spacing: 0.7px;
}

body main .rates .container .rates-choosing .rates-choices .reviews-title {
  margin: 0;
  padding: 1rem 1rem;
}

body main .rates .container .cards {
  padding: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body main .rates .container .cards .card {
  border: 1px solid #e8e8e8;
  background-color: #ffffff;
  min-height: 50rem;
  padding: 2rem 4rem;
  text-align: center;
}

body main .rates .container .cards .card-title {
  color: #000;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
}

body main .rates .container .cards .card-title strong {
  font-family: 'Muller Bold';
}

body main .rates .container .cards .card img {
  display: block;
  margin: 0 auto;
  margin-bottom: 2rem;
}

body main .rates .container .cards .card .uls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.4rem;
  min-height: 370px;
}

body main .rates .container .cards .card .uls ul li {
  padding: 1rem 0;
  color: #000;
}

body main .rates .container .cards .card .uls .ul-1 {
  text-align: left;
}

body main .rates .container .cards .card .uls .ul-2 {
  text-align: right;
}

body main .rates .container .cards .card .card-price {
  margin: 2rem 0;
  font-size: 1.7rem;
}

body main .rates .container .cards .card .card-price strong {
  font-family: 'Muller Bold';
  font-size: 2.4rem;
}

body main .rates .container .cards .card button {
  font-size: 1.8rem;
  min-height: 4.5rem;
  width: 100%;
  height: 0;
  font-family: 'Muller Bold';
}

body main .rates .container .cards .card .card-consulting {
  margin-bottom: 2rem;
}

body main .rates .container .cards .card .card-consulting button {
  background: #012e81;
}

body main .contacts {
  padding: 7rem 0;
  font-family: 'Muller Regular';
}

body main .contacts .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: left;
}

body main .contacts .container .contacts-form .section-title {
  font-family: 'Muller Bold';
  font-size: 2rem;
  margin-bottom: 3rem;
}

body main .contacts .container .contacts-form .form {
  width: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

body main .contacts .container .contacts-form .form label {
  font-size: 1.4rem;
}

body main .contacts .container .contacts-form .form__input {
  margin: 1.5rem 0;
  padding: 1rem 0;
  border-radius: 5px;
  border: 1px solid #dddddd;
}

body main .contacts .container .contacts-form .form__input:last-child {
  padding: 1rem 0 4rem;
}

body main .contacts .container .contacts-form .form__button {
  width: 100%;
  margin-bottom: 2rem;
  font-family: 'Muller Bold';
  font-size: 1.8rem;
  min-height: 5rem;
}

body main .contacts .container .contacts-form .form p {
  text-align: center;
  font-size: 1.3rem;
}

body main .contacts .container .contacts-list .section-title {
  font-size: 3rem;
  margin-bottom: 7rem;
}

body main .contacts .container .contacts-list .contacts-title {
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

body main .contacts .container .contacts-list a {
  display: block;
  font-size: 1.7rem;
  margin-bottom: 1rem;
  color: #000;
}

body main .contacts .container .contacts-list .contacts-phone {
  font-family: 'Muller Bold';
}

body main .contacts .container .contacts-list .contacts-email {
  text-decoration: underline;
}

body main .contacts .container .contacts-list p {
  font-size: 1.7rem;
  max-width: 51%;
}

body .footer {
  background-color: #0e0e0e;
  padding: 3rem 0;
}

body .footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .footer .container .developer {
  color: #fff;
  font-size: 1.5rem;
}
/*# sourceMappingURL=main.css.map */