@font-face {
    font-family: 'Muller Light';
    src: url('../fonts/MullerNarrow-Light.eot');
    src: url('../fonts/MullerNarrow-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MullerNarrow-Light.woff2') format('woff2'),
        url('../fonts/MullerNarrow-Light.woff') format('woff'),
        url('../fonts/MullerNarrow-Light.ttf') format('truetype'),
        url('../fonts/MullerNarrow-Light.svg#MullerNarrow-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Muller Medium';
    src: url('../fonts/MullerNarrow-Medium.eot');
    src: url('../fonts/MullerNarrow-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MullerNarrow-Medium.woff2') format('woff2'),
        url('../fonts/MullerNarrow-Medium.woff') format('woff'),
        url('../fonts/MullerNarrow-Medium.ttf') format('truetype'),
        url('../fonts/MullerNarrow-Medium.svg#MullerNarrow-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Muller Bold';
    src: url('../fonts/MullerBold.eot');
    src: url('../fonts/MullerBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MullerBold.woff2') format('woff2'),
        url('../fonts/MullerBold.woff') format('woff'),
        url('../fonts/MullerBold.ttf') format('truetype'),
        url('../fonts/MullerBold.svg#MullerBold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Muller Regular';
    src: url('../fonts/MullerRegular.eot');
    src: url('../fonts/MullerRegular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MullerRegular.woff2') format('woff2'),
        url('../fonts/MullerRegular.woff') format('woff'),
        url('../fonts/MullerRegular.ttf') format('truetype'),
        url('../fonts/MullerRegular.svg#MullerRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}



// Proxima Nova
@font-face {
    font-family: 'Proxima Nova Rg';
    src: url('../fonts/ProximaNova-Regular.eot');
    src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ProximaNova-Regular.woff2') format('woff2'),
        url('../fonts/ProximaNova-Regular.woff') format('woff'),
        url('../fonts/ProximaNova-Regular.ttf') format('truetype'),
        url('../fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova Bd';
    src: url('../fonts/ProximaNova-Bold.eot');
    src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ProximaNova-Bold.woff2') format('woff2'),
        url('../fonts/ProximaNova-Bold.woff') format('woff'),
        url('../fonts/ProximaNova-Bold.ttf') format('truetype'),
        url('../fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}


@font-face {
    font-family: 'Proxima Nova Lt';
    src: url('../fonts/ProximaNova-Light.eot');
    src: url('../fonts/ProximaNova-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ProximaNova-Light.woff2') format('woff2'),
        url('../fonts/ProximaNova-Light.woff') format('woff'),
        url('../fonts/ProximaNova-Light.ttf') format('truetype'),
        url('../fonts/ProximaNova-Light.svg#ProximaNova-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 12px;
}

body {
    font-family: 'Proxima Nova Rg';
    height: 1000rem;

    a {
        text-decoration: none;
    }

    .li_focus {
        border-radius: 5px;
        color: #e50000;
        border: 2px solid #e42626 !important;
    }

    .header-phone {
        h3 {
            font-size: 1.4rem;
            color: #1c1c1c;
        }
    }

    .section-title {
        font-size: 2.4rem;
        margin-bottom: 3rem;
        font-family: 'Proxima Nova Bd';
    }

    .container {
        display: flex;
        justify-content: space-between;
        text-align: center;
    }

    .button {
        width: 14rem;
        height: 3rem;
        background-color: #c91111;
        color: #fff;
        border: none;
        border-radius: 5px;
        font-weight: 700;
        font-size: 1.2rem;
        cursor: pointer;
    }

    .reviews-title {
        border: 1px solid #f5f5f5;
        ;
        font-family: 'Muller Bold';
        margin-right: 2.6rem;
        font-size: 1.4rem;
        text-transform: uppercase;
        letter-spacing: 0.7px;
        padding: 1rem 2.5rem;
        cursor: pointer;
        &:hover {
            color: #e50000;
        }
    }

    .header {
        padding-top: 1rem;
        min-height: 5rem;

        &-nav {
            nav {
                ul {
                    display: flex;
                    justify-content: space-between;
                    list-style: none;

                    li {
                        margin-right: 3.4rem;
                        font-size: 1.4rem;

                        a {

                            color: #1c1c1c;
                        }
                    }
                }
            }
        }
    }

    .download {
        font-family: 'Proxima Nova Rg';
        color: #1c1c1c;
        padding: 1rem 0;

        .container {
            align-items: center;

            .header-phone {
                a {
                    font-size: 1.8rem;
                }
            }

            .download-slogan {
                text-align: center;

                p {
                    font-size: 1.4rem;
                }
            }

            .app-download {
                display: flex;
                justify-content: space-around;
                width: 9rem;

                &__link {
                    border: 1px solid #e42626;
                    border-radius: 5px;
                    padding: 7px;

                    svg {
                        width: 30px;
                        height: 30px;
                    }
                }

            }
        }
    }

    .jurist {
        background-image: url(../img/jurist_BG.png);
        background-repeat: no-repeat;
        padding: 1rem 0 7rem;

        .container {
            display: flex;
            flex-flow: column;
            justify-content: flex-start;
            align-items: flex-start;
        }

        &_text {
            color: #fff;
            padding-top: 10rem;
            max-width: 45.1rem;
            margin-left: 10%;
            margin-bottom: 4rem;
            text-align: left;

            h2 {
                font-family: 'Proxima Nova Bd';
                font-size: 3.2rem;
                font-weight: 700;

                span {
                    font-size: 4rem;
                    text-transform: uppercase;
                }
            }

            p {
                font-size: 2.4rem;
            }
        }

        &-button {
            margin-left: 10%;

            button {
                width: 30rem;
                height: 6rem;
                font-size: 1.8rem;
                font-family: 'Proxima Nova Rg';
            }
        }
    }

    .features {
        .container {
            padding: 10rem 0;
            display: block;
            color: #1c1c1c;

            .feature {
                display: flex;
                align-items: center;
                margin: 1rem;
                min-height: 6rem;
                margin-left: 10%;

                p {
                    font-size: 1.6rem;
                    margin-left: 2rem;
                    width: 22rem;
                }
            }
        }
    }

    .about {
        background: #1c1c1c url(../img/bg.png) no-repeat top;
        min-height: 600px;
        color: #fff;

        .container {
            display: block;

            .section-title {
                padding: 10rem 0 3rem;
            }

            .section-description {
                max-width: 80%;
                margin: auto;
                margin-bottom: 6rem;

                p {
                    font-size: 1.6rem;
                }
            }

            .section-achievements {
                display: flex;
                justify-content: center;
                align-items: center;

                .achievement {
                    margin-right: 8rem;

                    span {
                        font-size: 1.6rem;

                        strong {
                            font-size: 4.8rem;
                        }
                    }

                }
            }
        }
    }

    .description {
        padding: 10rem 0;
        color: #1c1c1c;
        background-color: #f5f5f5;

        .container {
            flex-direction: column;

            .section-title {
                margin-bottom: 4rem;
            }

            .description__item {
                padding: 1rem 7rem;

                .description__text {
                    margin-top: 0.3rem;
                    font-size: 1.6rem;
                }
            }

        }
    }

    .advantages {
        color: #1c1c1c;
        padding: 2rem 0 4rem;

        .container {
            flex-direction: column;
            text-align: unset;

            ul {
                list-style: none;
            }

            .section-title {
                text-align: center;
                padding: 10rem 0 8rem;
            }

            .advantages-description {
                display: flex;
                justify-content: center;

                li {
                    font-size: 1.3rem;
                    margin-bottom: 3rem;


                }


                .comparing {
                    display: flex;

                    .advantages__list {
                        text-align: right;
                        padding: 3rem 1rem 0;

                        li {
                            &:first-child {
                                opacity: 0;
                            }
                        }

                    }

                    &__advogrand {
                        background-color: #26b83a;
                        text-align: center;
                        color: #fff;
                        min-width: 21rem;
                        padding: 3rem 1rem;
                    }

                    &__others {
                        border: 1px solid #e8e8e8;
                        text-align: center;
                        padding: 3rem 1rem;
                    }
                }

                .statistics-description {
                    margin-left: 4rem;

                    .section-title {
                        padding: 0;
                        font-size: 1.6rem;
                    }

                    .statistics-list {
                        li {
                            display: flex;
                            align-items: center;
                            font-size: 1.6rem;
                            padding: 1rem 0;

                            strong {
                                font-family: 'Proxima Nova Bd';
                                margin-left: 2rem;
                                margin-right: 0.5rem;
                            }
                        }
                    }
                }

                .statistics-button {
                    button {
                        font-size: 1.6rem;
                        font-weight: 700;
                        min-width: 27rem;
                        min-height: 5rem;
                        font-family: 'Proxima Nova Bd';
                    }

                }
            }

        }
    }

    .consulting {
        background: url(../img/consulting_bg.jpg) no-repeat top;
        color: #fff;

        font-family: 'Muller Regular';
        padding: 10rem 0 2rem;

        .container {

            justify-content: space-around;
            text-align: unset;

            .section-title {
                text-align: left;
                font-family: 'Muller Bold';
            }

            .consulting-description {
                padding-left: 10%;

                ul {
                    list-style: none;

                    li {
                        font-size: 1.8rem;
                        font-family: 'Muller Light';
                        letter-spacing: 1.2px;
                        padding: 1rem 0;

                        a {
                            color: inherit;
                            text-decoration: underline;
                        }

                        span {
                            margin-right: 2rem;
                            color: #d82020;
                            font-family: 'Muller Medium';
                        }
                    }
                }

            }

            .consulting-download {
                padding-top: 3rem;

                a {
                    display: block;
                    margin-bottom: 3rem;
                }
            }
        }
    }

    .reviews {
        color: #313131;
        font-family: 'Muller Regular';
        background-color: #f5f5f5;
        padding: 4rem 0;

        .change-opacity {
            opacity: 0;
        }

        .container {
            flex-direction: column;
            text-align: center;

            .reviews-titles {
                margin: auto;
                margin-bottom: 2rem;

                ul {
                    list-style: none;
                    display: flex;


                }
            }

            .row {
                transition: all ease-out 0.4s;
            }

            .review {
                img {
                    margin-bottom: 1rem;
                }

                margin: 1rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                a {
                    color: #313131;
                    font-family: 'Muller Light';
                    font-size: 1.8rem;
                }
            }
        }
    }

    .partners {
        padding: 5rem 0;
        color: #313131;
        font-family: 'Muller Regular';

        .container {
            flex-direction: column;

            .section-title {
                font-family: 'Muller Bold';
            }

            .partner {
                display: flex;
                position: relative;
                justify-content: center;
                align-items: center;
                cursor: pointer;

                &-description {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: #26b83a;
                    min-height: 100%;
                    width: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    opacity: 0;
                    box-shadow: 0 10px 10px rgba(38, 184, 58, 0.2);
                    transition: all ease-out 0.4s;

                    &:hover {
                        opacity: 1;
                    }

                    p {
                        font-family: 'Muller Light';
                        color: #fff;
                        font-size: 1.2rem;
                        padding: 1rem 0.5rem;
                    }
                }
            }
        }
    }

    .rates {
        background-color: #f5f5f5;
        color: #313131;
        font-family: "Muller Regular";
        padding: 5rem 0;

        .container {
            flex-direction: column;
            text-align: left;

            .section-title {
                font-family: 'Muller Bold';
            }

            .section-subtitle {
                font-size: 1.6rem;
                margin-bottom: 3rem;
                font-family: 'Muller Bold';
            }

            .rates-choosing {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .rates-choose {
                    font-size: 1.6rem;
                }

                .rates-choices {
                    font-family: 'Muller Bold';
                    font-size: 1.4rem;
                    display: flex;
                    justify-content: space-between;
                    flex-basis: 21%;
                    text-transform: uppercase;
                    border: 1px solid #f5f5f5;
                    letter-spacing: 0.7px;
                    .reviews-title {
                        margin: 0;
                        padding: 1rem 1rem;
                    }
                }
                
            }
            .cards {
                padding: 2rem 0;
                display: flex;
                justify-content: space-around;
                .card {
                    border: 1px solid #e8e8e8;
                    background-color: #ffffff;
                    min-height: 50rem;
                    padding: 2rem 4rem;
                    text-align: center;
                    &-title {
                        color: #000;
                        text-align: center;
                        font-size: 2rem;
                        margin-bottom: 2rem;
                        strong {
                            font-family: 'Muller Bold';
                        }
                    }
                    img {
                        display: block;
                        margin: 0 auto;
                        margin-bottom: 2rem;
                    }
                    .uls {
                        display: flex;
                        font-size: 1.4rem;
                        min-height: 370px;
                        ul {
                            list-style: none;
                            li {
                                padding: 1rem 0;
                                color: #000;
                            }
                        }
                        .ul-1 {
                            text-align: left;
                        }
                        .ul-2 {
                            text-align: right;
                        }
                        
                    }
                    .card-price {
                        margin: 2rem 0;
                        font-size: 1.7rem;
                        strong {
                            font-family: 'Muller Bold';
                            font-size: 2.4rem;
                        }
                    }
                    button {
                        font-size: 1.8rem;
                        min-height: 4.5rem;
                        width: 100%;
                        height: 0;
                        font-family: 'Muller Bold';
                    }
                    .card-consulting {
                        margin-bottom: 2rem;
                        button {
                            background: #012e81;
                        }
                    }
                }
            }
        }
    }
}