@import url(./fonts.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 12px;
}

body {
    font-family: 'Proxima Nova Rg';

    a {
        text-decoration: none;
        color: #1c1c1c;
    }

    ul {
        list-style: none;
    }

    section {
        padding: 2rem 0;
    }

    .li_focus {
        border-radius: 5px;
        color: #e50000;
        border: 2px solid #e42626 !important;
    }

    .header-phone {
        a {
            font-family: 'Proxima Nova Bd';
            font-size: 1.6rem;

        }
    }

    .section-title {
        font-size: 2.4rem;
        margin-bottom: 3rem;
        font-family: 'Proxima Nova Bd';
    }

    .container {
        display: flex;
        justify-content: space-between;
        text-align: center;
    }

    .button {
        min-width: 14rem;
        min-height: 3rem;
        background-color: #c91111;
        color: #fff;
        border: none;
        border-radius: 5px;
        font-weight: 700;
        font-size: 1.2rem;
        cursor: pointer;
    }

    .reviews-title {
        border: 1px solid #f5f5f5;
        font-family: 'Muller Bold';
        font-size: 1.4rem;
        text-transform: uppercase;
        letter-spacing: 0.7px;
        padding: 1rem 2.5rem;
        cursor: pointer;

        &:hover {
            color: #e50000;
        }
    }

    .header {
        padding: 1rem 0;
        border-bottom: 1px solid #e8e8e8;
        color: #1c1c1c;

        .container {
            align-items: center;

            ul {
                display: flex;
                justify-content: space-between;

                .nav__item {
                    margin-right: 3.4rem;
                    font-size: 1.4rem;
                }
            }
        }

    }

    main {
        .second-header {
            color: #1c1c1c;
            padding: 1rem 0;

            .container {
                align-items: center;

                .second-header__slogan {
                    flex-basis: 60%;

                    p {
                        font-size: 1.4rem;
                    }
                }

                .app-download {
                    display: flex;
                    justify-content: space-around;
                    min-width: 9rem;

                    &__link {
                        border: 1px solid #e42626;
                        border-radius: 5px;
                        padding: 7px;

                        svg {
                            width: 30px;
                            height: 30px;
                        }
                    }

                }
            }
        }

        .jurist {
            background:  #1c1c1c url(../img/jurist_BG.png) no-repeat;
            padding: 10rem 0 12rem;

            .container {
                flex-direction: column;
                align-items: flex-start;
                padding-left: 10%;
            }

            &-text {
                color: #fff;
                max-width: 51rem;
                margin-bottom: 3rem;
                text-align: left;

                h2 {
                    font-family: 'Proxima Nova Bd';
                    font-size: 3.2rem;
                    font-weight: 700;

                    span {
                        font-size: 4rem;
                        text-transform: uppercase;
                        font-family: 'Proxima Nova Extra Bold';
                    }
                }

                p {
                    font-size: 2.4rem;
                    font-family: 'Proxima Nova Lt';

                    span {
                        font-family: 'Proxima Nova Bd';
                    }
                }
            }

            button {
                min-width: 30rem;
                min-height: 6rem;
                font-size: 1.8rem;
                font-family: 'Proxima Nova Rg';
            }
        }

        .features {
            padding: 7rem 0;
            color: #1c1c1c;
            .container {
                
                flex-direction: column;
                .feature {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 3rem;

                    p {
                        font-size: 1.6rem;
                        margin-left: 2rem;
                        width: 22rem;
                    }
                }
            }
        }

        .about {
            background: #1c1c1c url(../img/bg.png) no-repeat top;
            color: #fff;
            padding: 7rem 0;
            .container {
                flex-direction: column;

                .section-title {
                    margin-bottom: 5rem;
                }

                .section-description {
                    max-width: 80%;
                    margin: auto;
                    margin-bottom: 6rem;

                    p {
                        font-size: 1.6rem;
                    }
                }

                .section-achievements {
                    display: flex;
                    justify-content: space-around;

                    .achievement {
                        margin-right: 8rem;

                        span {
                            font-size: 1.6rem;

                            strong {
                                font-family: 'Proxima Nova Bd';
                                font-size: 4.5rem;
                            }
                        }

                    }
                }
            }
        }

        .description {
            padding: 10rem 0;
            color: #1c1c1c;
            background-color: #f5f5f5;

            .container {
                flex-direction: column;

                .section-title {
                    margin-bottom: 4rem;
                }

                .description__item {
                    padding: 1rem 7rem;

                    .description__text {
                        margin-top: 0.3rem;
                        font-size: 1.6rem;
                    }
                }

            }
        }

        .advantages {
            color: #1c1c1c;
            padding: 10rem 0 8rem;
            .container {
                flex-direction: column;
                text-align: unset;

                .section-title {
                    text-align: center;
                    
                }

                .advantages-description {
                    display: flex;
                    justify-content: center;
                    li {
                        font-size: 1.3rem;
                        margin-bottom: 3rem;
                    }

                    .comparing {
                        display: flex;
                        text-align: center;
                        .advantages__list {
                            text-align: right;
                            padding: 3rem 1rem;
                            li {
                                &:first-child {
                                    opacity: 0;
                                }
                            }

                        }

                        &__advogrand {
                            background-color: #26b83a;
                            color: #fff;
                            padding: 3rem 5rem;
                            li {
                                &:first-child {
                                    font-size: 1.5rem;
                                    font-family: 'Proxima Nova Bd';
                                }
                            }
                        }

                        &__others {
                            border: 1px solid #e8e8e8;        
                            padding: 3rem 5rem;
                            li {
                                &:first-child {
                                    font-size: 1.5rem;
                                    font-family: 'Proxima Nova Bd';
                                }
                            }
                        }
                    }

                    .statistics-description {
                        margin-left: 2rem;

                        .section-title {
                            font-size: 1.6rem;
                        }

                        .statistics-list {
                            li {
                                display: flex;
                                align-items: center;
                                font-size: 1.6rem;
                                padding-bottom: 1rem;

                                strong {
                                    font-family: 'Proxima Nova Bd';
                                    margin-left: 2rem;
                                    margin-right: 0.5rem;
                                }
                            }
                        }
                    }

                    .statistics-button {
                        button {
                            font-size: 1.6rem;
                            font-weight: 700;
                            min-width: 27rem;
                            min-height: 5rem;
                            font-family: 'Proxima Nova Bd';
                        }

                    }
                }

            }
        }

        .consulting {
            background: url(../img/consulting_bg.jpg) no-repeat top;
            color: #fff;

            font-family: 'Muller Regular';
            padding: 7rem 0 5rem;

            .container {

                justify-content: space-around;
                text-align: left;

                .section-title {
                    font-family: 'Muller Bold';
                }

                .consulting-description {

                        li {
                            font-size: 1.8rem;
                            font-family: 'Muller Light';
                            letter-spacing: 1.2px;
                            padding: 1rem 0;

                            a {
                                color: inherit;
                                text-decoration: underline;
                            }

                            span {
                                margin-right: 1rem;
                                color: #d82020;
                                font-family: 'Muller Medium';
                            }
                        }

                }

                .consulting-download {
                    margin-top: 3rem;
                    a {
                        display: block;
                        margin-bottom: 3rem;
                    }
                }
            }
        }

        .reviews {
            color: #313131;
            font-family: 'Muller Regular';
            background-color: #f5f5f5;
            padding: 4rem 0;

            .change-opacity {
                opacity: 0;
            }

            .container {
                flex-direction: column;
                .section-title {
                    font-family: 'Muller Bold';
                }

                .reviews-titles {
                    padding: 0 10%;
                    margin-bottom: 2rem;

                    ul {
                        display: flex;
                        justify-content: space-around;
                    }
                }

                .row {
                    transition: all ease-out 0.4s;
                }

                .review {
                    margin: 1rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    img {
                        margin-bottom: 1rem;
                    }

                    a {
                        color: #313131;
                        font-family: 'Muller Light';
                        font-size: 1.8rem;
                    }
                }
            }
        }

        .partners {
            padding: 5rem 0;
            color: #313131;
            font-family: 'Muller Regular';

            .container {
                flex-direction: column;

                .section-title {
                    font-family: 'Muller Bold';
                }

                .partner {
                    position: relative;
                    cursor: pointer;

                    &-description {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color: #26b83a;
                        min-height: 100%;
                        min-width: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                        opacity: 0;
                        box-shadow: 0 10px 10px rgba(38, 184, 58, 0.2);
                        transition: all ease-out 0.4s;

                        &:hover {
                            opacity: 1;
                        }

                        p {
                            font-family: 'Muller Light';
                            color: #fff;
                            font-size: 1.2rem;
                            padding: 1rem 0.5rem;
                        }
                    }
                }
            }
        }

        .rates {
            background-color: #f5f5f5;
            color: #313131;
            font-family: "Muller Regular";
            padding: 5rem 0;

            .container {
                flex-direction: column;
                text-align: left;

                .section-title {
                    font-family: 'Muller Bold';
                }

                .section-subtitle {
                    font-size: 1.6rem;
                    margin-bottom: 3rem;
                    font-family: 'Muller Bold';
                }

                .rates-choosing {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .rates-choose {
                        font-size: 1.6rem;
                    }

                    .rates-choices {
                        font-family: 'Muller Bold';
                        font-size: 1.4rem;
                        display: flex;
                        justify-content: space-between;
                        flex-basis: 21%;
                        text-transform: uppercase;
                        border: 1px solid #f5f5f5;
                        letter-spacing: 0.7px;

                        .reviews-title {
                            margin: 0;
                            padding: 1rem 1rem;
                        }
                    }

                }

                .cards {
                    padding: 2rem 0;
                    display: flex;
                    justify-content: space-between;

                    .card {
                        border: 1px solid #e8e8e8;
                        background-color: #ffffff;
                        min-height: 50rem;
                        padding: 2rem 4rem;
                        text-align: center;

                        &-title {
                            color: #000;
                            text-align: center;
                            font-size: 2rem;
                            margin-bottom: 2rem;

                            strong {
                                font-family: 'Muller Bold';
                            }
                        }

                        img {
                            display: block;
                            margin: 0 auto;
                            margin-bottom: 2rem;
                        }

                        .uls {
                            display: flex;
                            font-size: 1.4rem;
                            min-height: 370px;

                            ul {

                                li {
                                    padding: 1rem 0;
                                    color: #000;
                                }
                            }

                            .ul-1 {
                                text-align: left;
                            }

                            .ul-2 {
                                text-align: right;
                            }

                        }

                        .card-price {
                            margin: 2rem 0;
                            font-size: 1.7rem;

                            strong {
                                font-family: 'Muller Bold';
                                font-size: 2.4rem;
                            }
                        }

                        button {
                            font-size: 1.8rem;
                            min-height: 4.5rem;
                            width: 100%;
                            height: 0;
                            font-family: 'Muller Bold';
                        }

                        .card-consulting {
                            margin-bottom: 2rem;

                            button {
                                background: #012e81;
                            }
                        }
                    }
                }
            }
        }

        .contacts {
            padding: 7rem 0;
            font-family: 'Muller Regular';

            .container {
                display: flex;
                justify-content: space-between;
                text-align: left;

                .contacts-form {
                    .section-title {
                        font-family: 'Muller Bold';
                        font-size: 2rem;
                        margin-bottom: 3rem;
                    }

                    .form {
                        width: 85%;
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;

                        label {
                            font-size: 1.4rem;
                        }

                        &__input {
                            margin: 1.5rem 0;
                            padding: 1rem 0;
                            border-radius: 5px;
                            border: 1px solid #dddddd;

                            &:last-child {
                                padding: 1rem 0 4rem;
                            }
                        }

                        &__button {
                            width: 100%;
                            margin-bottom: 2rem;
                            font-family: 'Muller Bold';
                            font-size: 1.8rem;
                            min-height: 5rem;
                        }

                        p {
                            text-align: center;
                            font-size: 1.3rem;
                        }
                    }
                }

                .contacts-list {
                    .section-title {
                        font-size: 3rem;
                        margin-bottom: 7rem;
                    }

                    .contacts-title {
                        font-size: 1.3rem;
                        margin-bottom: 2rem;
                    }

                    a {
                        display: block;
                        font-size: 1.7rem;
                        margin-bottom: 1rem;
                        color: #000;
                    }

                    .contacts-phone {
                        font-family: 'Muller Bold';
                    }

                    .contacts-email {
                        text-decoration: underline;
                    }

                    p {
                        font-size: 1.7rem;
                        max-width: 51%;
                    }
                }
            }
        }
    }



    .footer {
        background-color: #0e0e0e;
        padding: 3rem 0;

        .container {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .developer {
                color: #fff;
                font-size: 1.5rem;
            }
        }
    }
}