@media (max-width: 1001px) {
  body .reviews-title {
    padding: 10px 15px;
  }
  body .header {
    position: absolute;
    background: #000;
    color: #fff;
    min-width: 100%;
    border: none;
  }
  body .header .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  body .header .container .header-phone {
    font-size: 20px;
    margin-bottom: 20px;
  }
  body .header .container .header-phone a {
    margin: 0;
    color: #fff;
  }
  body .header .container ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .header .container ul .nav__item {
    margin: 0;
    margin-bottom: 20px;
    font-size: 22px;
  }
  body .header .container ul .nav__item a {
    color: #fff;
  }
  body .header .container .header-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body .header .container .header-button .button {
    font-size: 20px;
  }
  body main .second-header .container .logo {
    margin: 0;
  }
  body main .second-header .container .second-header__phone {
    display: none;
  }
  body main .second-header .container .second-header__hamburger {
    display: unset;
  }
  body main .advantages .container .advantages-description {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body main .advantages .container .advantages-description .comparing {
    margin-bottom: 20px;
  }
  body main .advantages .container .advantages-description .statistics-description {
    text-align: center;
  }
  body main .advantages .container .advantages-description .statistics-description .statistics-list ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  body main .about .container .section-achievements .achievement {
    margin-right: 10px;
  }
  body main .partners .container .partners .partner img {
    display: block;
    margin: auto;
    width: 85%;
  }
}

@media (max-width: 801px) {
  body .header .container .app-download {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  body .header .container .header-button .button {
    margin-bottom: 20px;
  }
  body .header .container .header__slogan {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  body main .second-header .container .second-header__slogan {
    display: none;
  }
  body main .second-header .container .second-header__download {
    display: none;
  }
  body main .jurist {
    padding: 2rem 0;
  }
  body main .jurist .container {
    text-align: center;
  }
  body main .jurist .container .jurist-text h2,
  body main .jurist .container .jurist-text p {
    font-size: 28px;
  }
  body main .jurist .container .jurist-text h2 span {
    font-size: 34px;
  }
  body main .about {
    padding: 2rem 0;
    background: #1c1c1c;
  }
  body main .about .container .section-description {
    margin-bottom: 20px;
  }
  body main .about .container .section-achievements {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body main .about .container .section-achievements .achievement {
    margin: 0;
    margin-bottom: 20px;
  }
  body main .description .container .descriptions-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body main .advantages {
    padding: 2rem 0;
  }
  body main .advantages .container .advantages-description .comparing {
    display: none;
  }
  body main .advantages .container .advantages-description .comparing-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  body main .consulting {
    background: #1c1c1c;
    padding: 2rem;
  }
  body main .consulting .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body main .consulting .container .section-title {
    margin-bottom: 20px;
  }
  body main .consulting .container ul {
    margin-bottom: 20px;
  }
  body main .consulting .container .consulting-download a {
    margin-bottom: 20px;
  }
  body main .reviews .container .reviews-titles ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body main .reviews .container .reviews-titles ul li {
    display: block;
    margin: auto;
  }
  body main .partners {
    padding: 2rem 0;
  }
  body main .partners .container .partners {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body main .partners .container .partners .partner {
    margin-bottom: 100px;
  }
  body main .partners .container .partners .partner img {
    width: 100%;
  }
  body main .rates .container .cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body main .rates .container .cards .card {
    margin-bottom: 20px;
  }
  body main .contacts {
    padding: 2rem 0;
  }
  body main .contacts .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body main .contacts .container .contacts-form .form {
    width: unset;
  }
  body main .contacts .container .contacts-list {
    text-align: center;
  }
  body main .contacts .container .contacts-list .section-title {
    margin-bottom: 20px;
  }
  body .footer .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 501px) {
  body main .advantages .container .advantages-description .comparing-mobile .comparing__advogrand__mobile .comparing__advogrand__list, body main .advantages .container .advantages-description .comparing-mobile .comparing__advogrand__mobile .comparing__others__list, body main .advantages .container .advantages-description .comparing-mobile .comparing__others__mobile .comparing__advogrand__list, body main .advantages .container .advantages-description .comparing-mobile .comparing__others__mobile .comparing__others__list {
    text-align: center;
  }
  body main .advantages .container .advantages-description .comparing-mobile .comparing__advogrand__mobile {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body main .advantages .container .advantages-description .comparing-mobile .comparing__advogrand__mobile .advantages__list ul {
    text-align: center;
  }
  body main .advantages .container .advantages-description .comparing-mobile .comparing__advogrand__mobile .advantages__list ul li {
    margin-bottom: 10px;
  }
  body main .advantages .container .advantages-description .comparing-mobile .comparing__others__mobile .advantages__list {
    display: none;
  }
}
/*# sourceMappingURL=media-quires.css.map */