$white: #fff;
$black: #000;
$light-black: #1c1c1c;
$light-grey: #313131;
$button-bg: #c91111;
$section-bg: #f5f5f5;
$advogrand-bg: #26b83a;
$footer-bg: #0e0e0e;
$header-color: #e8e8e8;
$span-color: #d82020;
$input-color: #dddddd;
$download-color: #e42626;
$hover-text: #e50000;
$consulting-button: #012e81;


@media (max-width: 1441px) {
    body {
        main {
            .about {
                .container {
                    .section-achievements {
                        .achievement {
                            margin-right: 3rem;
                            span {
                                font-size: 1.4rem;
                                strong {
                                    font-size: 3rem;
                                }
                            }
                        }
                    }
                }
            }
        }

    }
}

@media(max-width: 1025px) {
    body {
        main {
            .about {
                .container {
                    .section-title {
                        margin-bottom: 3rem;
                    }
                    .section-description {
                        max-width: unset;
                    }
                }
            }
            .description {
                padding: 5rem 0;
            }
            .advantages {
                .container {
                    flex-direction: column;
                    text-align: unset;
    
                    .section-title {
                        text-align: center;
                    }
    
                    .advantages-description {
                        display: block;
                        margin: auto;
    
                        li {
                            font-size: 1.3rem;
                            margin-bottom: 3rem;
                        }
    
                        .statistics-description {
                            padding: 2rem 0;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            flex-direction: column;
                            
 
                            .statistics-list {
                                min-height: 0;
                                display: block;
                            }
                        }
                    }
                }
            }
        }
    }
}

















@media (max-width: 1800px) {
    body {
        main {
            .rates {
                padding: 3rem 0;
                .container {
                    .cards {
                        display: block;
                        .card {
                            margin: auto;
                            max-width: 40rem;
                            padding: 2rem 1rem;
                            margin-bottom: 2rem;
                        }
                    }

                }
            }
        }
    }
}

@media (max-width: 1310px) {
    body {
        .header {
            .container {
                ul {
                    .nav__item {
                        margin-right: 1.7rem;
                    }
                }

            }
        }

        main {
            .second-header {
                .container {
                    .second-header__slogan {
                        flex-basis: 35%;
                    }
                }
            }
        }

    }
}

@media (max-width: 1048px) {
    body {
        .header {
            .container {
                ul {
                    .nav__item {
                        margin-right: 1rem;
                    }
                }
            }
        }
    }
}

@media (max-width: 998px) {
    body {
        .header {
            .container {
                .header-phone {
                    a {
                        font-size: 1.3rem;
                    }
                }
            }
        }

        main {
            .reviews {
                .container {
                    .reviews-titles {
                        padding: 0;

                        ul {
                            .reviews-title {
                                font-size: 1rem;
                                padding: 0.5rem;
                            }
                        }

                    }

                    .reviews-list {
                        justify-content: center;
                    }
                }
            }
        }
    }
}

@media (max-width: 935px) {
    body {
        .header {
            padding: 3rem 0;
            background: $light-black;
            position: fixed;
            top: -100%;
            left: 0;
            right: 0;
            border-bottom: 0;


            .container {
                flex-direction: column;

                .header-phone {
                    display: block;
                    margin-bottom: 1rem;

                    a {
                        color: $white;
                        font-size: 1.5rem;
                    }
                }

                ul {
                    display: block;

                    .nav__item {
                        margin: 0 0 1.5rem 0;
                        font-size: 1.7rem;

                        .nav__link {
                            color: $white;
                        }
                    }
                }

                .button {
                    font-size: 2rem;
                    padding: 0.5rem 1rem;
                }

            }
        }

        main {
            .second-header {
                .container {
                    .second-header__hamburger {
                        display: flex;
                    }
                }
            }
        }
    }
}