$white: #fff;
$black: #000;
$light-black: #1c1c1c;
$light-grey: #313131;
$button-bg: #c91111;
$section-bg: #f5f5f5;
$advogrand-bg: #26b83a;
$footer-bg: #0e0e0e;
$header-color: #e8e8e8;
$span-color: #d82020;
$input-color: #dddddd;
$download-color: #e42626;
$hover-text: #e50000;
$consulting-button: #012e81;

@media (max-width: 1001px) {
    body {
        .reviews-title {
            padding: 10px 15px;
        }

        .header {
            position: absolute;
            background: $black;
            color: $white;
            min-width: 100%;
            border: none;

            .container {
                flex-direction: column;
                text-align: center;

                .header-phone {
                    font-size: 20px;
                    margin-bottom: 20px;

                    a {
                        margin: 0;
                        color: $white;
                    }
                }

                ul {
                    flex-direction: column;

                    .nav__item {
                        margin: 0;
                        margin-bottom: 20px;
                        font-size: 22px;

                        a {
                            color: $white;
                        }
                    }

                }

                .header-button {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .button {
                        font-size: 20px;
                    }
                }
            }
        }

        main {
            .second-header {
                .container {
                    .logo {
                        margin: 0;
                    }

                    .second-header__phone {
                        display: none;
                    }

                    .second-header__hamburger {
                        display: unset;
                    }
                }
            }

            .advantages {
                .container {
                    .advantages-description {
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;

                        .comparing {
                            margin-bottom: 20px;
                        }

                        .statistics-description {
                            text-align: center;

                            .statistics-list {
                                ul {
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: center;
                                    align-items: flex-start;
                                }
                            }
                        }
                    }
                }
            }

            .about {
                .container {
                    .section-achievements {
                        .achievement {
                            margin-right: 10px;
                        }
                    }
                }
            }

            .partners {
                .container {
                    .partners {
                        .partner {
                            img {
                                display: block;
                                margin: auto;
                                width: 85%;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 801px) {
    body {
        .header {
            .container {
                .app-download {
                    display: flex;
                }

                .header-button {
                    .button {
                        margin-bottom: 20px;
                    }
                }

                .header__slogan {
                    display: flex;
                }
            }
        }

        main {
            .second-header {
                .container {
                    .second-header__slogan {
                        display: none;
                    }

                    .second-header__download {
                        display: none;
                    }
                }
            }

            .jurist {
                padding: 2rem 0;

                .container {
                    text-align: center;

                    .jurist-text {

                        h2,
                        p {
                            font-size: 28px;
                        }

                        h2 {
                            span {
                                font-size: 34px;
                            }
                        }
                    }
                }
            }

            .about {
                padding: 2rem 0;
                background: $light-black;

                .container {
                    .section-description {
                        margin-bottom: 20px;
                    }

                    .section-achievements {
                        flex-direction: column;

                        .achievement {
                            margin: 0;
                            margin-bottom: 20px;
                        }
                    }
                }
            }

            .description {
                .container {
                    .descriptions-list {
                        flex-direction: column;
                    }
                }
            }

            .advantages {
                padding: 2rem 0;

                .container {
                    .advantages-description {
                        .comparing {
                            display: none;
                        }

                        .comparing-mobile {
                            display: flex;
                        }
                    }
                }
            }

            .consulting {
                background: $light-black;
                padding: 2rem;

                .container {
                    flex-direction: column;

                    .section-title {
                        margin-bottom: 20px;
                    }

                    ul {
                        margin-bottom: 20px;
                    }

                    .consulting-download {
                        a {
                            margin-bottom: 20px;
                        }
                    }
                }
            }

            .reviews {
                .container {
                    .reviews-titles {
                        ul {
                            flex-direction: column;

                            li {
                                display: block;
                                margin: auto;
                            }
                        }
                    }
                }
            }

            .partners {
                padding: 2rem 0;

                .container {
                    .partners {
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;

                        .partner {
                            margin-bottom: 100px;

                            img {
                                width: 100%;
                            }
                        }
                    }
                }
            }

            .rates {
                .container {
                    .cards {
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;

                        .card {
                            margin-bottom: 20px;
                        }
                    }
                }
            }

            .contacts {
                padding: 2rem 0;

                .container {
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    .contacts-form {
                        .form {
                            width: unset;
                        }
                    }

                    .contacts-list {
                        text-align: center;

                        .section-title {
                            margin-bottom: 20px;
                        }
                    }
                }
            }
        }

        .footer {
            .container {
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        }
    }
}

@media (max-width: 501px) {
    body {
        main {
            .advantages {
                .container {
                    .advantages-description {
                        .comparing-mobile {
                            .comparing__advogrand__mobile, .comparing__others__mobile {
                                .comparing__advogrand__list, .comparing__others__list {
                                    text-align: center;
                                }
                            }
                            .comparing__advogrand__mobile {
                                flex-direction: column;
                                .advantages__list {
                                    ul {
                                        text-align: center;
                                        li {
                                            margin-bottom: 10px;
                                        }
                                    }
                                }
                            }
                            .comparing__others__mobile {
                                .advantages__list {
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}