@media (max-width: 1441px) {
  body main .about .container .section-achievements .achievement {
    margin-right: 3rem;
  }
  body main .about .container .section-achievements .achievement span {
    font-size: 1.4rem;
  }
  body main .about .container .section-achievements .achievement span strong {
    font-size: 3rem;
  }
}

@media (max-width: 1025px) {
  body main .about .container .section-title {
    margin-bottom: 3rem;
  }
  body main .about .container .section-description {
    max-width: unset;
  }
  body main .description {
    padding: 5rem 0;
  }
  body main .advantages .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: unset;
  }
  body main .advantages .container .section-title {
    text-align: center;
  }
  body main .advantages .container .advantages-description {
    display: block;
    margin: auto;
  }
  body main .advantages .container .advantages-description li {
    font-size: 1.3rem;
    margin-bottom: 3rem;
  }
  body main .advantages .container .advantages-description .statistics-description {
    padding: 2rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body main .advantages .container .advantages-description .statistics-description .statistics-list {
    min-height: 0;
    display: block;
  }
}

@media (max-width: 769px) {
  body main .about .container .section-achievements .achievement {
    min-width: 180px;
    margin-right: 1rem;
  }
  body main .reviews .container .reviews-titles ul .reviews-title {
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
  }
  body main .contacts {
    padding: 7rem 0;
    font-family: 'Muller Regular';
  }
  body main .contacts .container .contacts-form {
    min-width: 55%;
  }
}

@media (max-width: 1800px) {
  body main .rates {
    padding: 3rem 0;
  }
  body main .rates .container .cards {
    display: block;
  }
  body main .rates .container .cards .card {
    margin: auto;
    max-width: 40rem;
    padding: 2rem 1rem;
    margin-bottom: 2rem;
  }
}

@media (max-width: 1310px) {
  body .header .container ul .nav__item {
    margin-right: 1.7rem;
  }
  body main .second-header .container .second-header__slogan {
    -ms-flex-preferred-size: 35%;
        flex-basis: 35%;
  }
}

@media (max-width: 1048px) {
  body .header .container ul .nav__item {
    margin-right: 1rem;
  }
}

@media (max-width: 998px) {
  body .header .container .header-phone a {
    font-size: 1.3rem;
  }
}

@media (max-width: 935px) {
  body .header {
    padding: 3rem 0;
    background: #1c1c1c;
    position: fixed;
    top: -100%;
    left: 0;
    right: 0;
    border-bottom: 0;
  }
  body .header .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .header .container .header-phone {
    display: block;
    margin-bottom: 1rem;
  }
  body .header .container .header-phone a {
    color: #fff;
    font-size: 1.5rem;
  }
  body .header .container ul {
    display: block;
  }
  body .header .container ul .nav__item {
    margin: 0 0 1.5rem 0;
    font-size: 1.7rem;
  }
  body .header .container ul .nav__item .nav__link {
    color: #fff;
  }
  body .header .container .button {
    font-size: 2rem;
    padding: 0.5rem 1rem;
  }
  body main .second-header .container .second-header__hamburger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
/*# sourceMappingURL=media-quires.css.map */